a {
color:  cornflowerblue;
text-decoration: none;
}

a:visited {
color:  tomato;
}

a:hover {
text-decoration: underline;
}

ol {
	border: 5px solid darksalmon;
	border-radius: 10px;
}

ol li {
	color: brown;
}

li:first-child {
	background: yellow;
}

li:nth-child(2) {
	background: orange;
}

.greet {
	color: green;
}