 body {
 	max-width: 1200px;
 	margin: auto; 
 	font-family: arial, sans-serif;
 }

 h1{
 	background-image: url('../img/maker-logo.png');
 	background-repeat: no-repeat;
 	margin: 28px 0 0 0;
 	width: 225px;
 	height: 90px;
 }

 hr {
 	height: 3px;
 	background: #333;
 }

#content {
	display: block;
}

.fig {
	float; 
}