body {
background: grey;
font-family: "Courier New", Courier, monospace
}

figure {
	width: 60%;
}

figure img{
	width: 100%;
}

body #gallery {
	background: darkgray; 
	width: 800px;
	margin: auto; 
	border-style: solid;
	text-align: center;
}

figcaption {
	text-align: right;
}

.star {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/Gold_Star_off.svg);
}

.star.starOn {
	background: url(../images/Gold_Star.svg);
}